/FuelTracker.Tests/obj/Debug/App.g.cs
/FuelTracker.Tests/obj/Debug/App.g.i.cs
/FuelTracker.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FuelTracker.Tests/obj/Debug/FuelTracker.Tests.csproj.FileListAbsolute.txt
/FuelTracker.Tests/obj/Debug/FuelTracker.Tests.csprojResolveAssemblyReference.cache
/FuelTracker.Tests/obj/Debug/FuelTracker.Tests.g.resources
/FuelTracker.Tests/obj/Debug/LiveIntellisense/Sources/FuelTracker.Web.g.cs
/FuelTracker.Tests/obj/Debug/LiveIntellisense/TempPE/FuelTracker.Web.dll
/FuelTracker.Tests/obj/Debug/LiveIntellisense/TempPE/FuelTracker.Web.pdb
/FuelTracker.Web/ClientBin/FuelTracker.Tests.xap
/FuelTracker.Web/ClientBin/FuelTracker.xap
/FuelTracker.Web/bin/24e45d4d-87ad-476d-b992-750a0c6e7965
/FuelTracker.Web/bin/EntityFramework.dll
/FuelTracker.Web/bin/EntityFramework.xml
/FuelTracker.Web/bin/FuelTracker.Web.dll
/FuelTracker.Web/bin/FuelTracker.Web.pdb
/FuelTracker.Web/bin/Microsoft.ServiceModel.DomainServices.EntityFramework.dll
/FuelTracker.Web/bin/Microsoft.ServiceModel.DomainServices.Hosting.dll
/FuelTracker.Web/bin/Microsoft.ServiceModel.DomainServices.Tools.TextTemplate.dll
/FuelTracker.Web/bin/Microsoft.ServiceModel.DomainServices.WindowsAzure.dll
/FuelTracker.Web/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FuelTracker.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FuelTracker.Web/obj/Debug/FuelTracker.Web.Resources.RegistrationDataResources.resources
/FuelTracker.Web/obj/Debug/FuelTracker.Web.Resources.ValidationErrorResources.resources
/FuelTracker.Web/obj/Debug/FuelTracker.Web.csproj.FileListAbsolute.txt
/FuelTracker.Web/obj/Debug/FuelTracker.Web.csproj.GenerateResource.Cache
/FuelTracker.Web/obj/Debug/FuelTracker.Web.csprojResolveAssemblyReference.cache
/FuelTracker.Web/obj/Debug/FuelTracker.Web.dll
/FuelTracker.Web/obj/Debug/FuelTracker.Web.pdb
/FuelTracker.Web/obj/Debug/LiveIntellisense/Resources/FuelTracker.Web.FuelTrackerDataModel.edmx.csdl
/FuelTracker.Web/obj/Debug/LiveIntellisense/Resources/FuelTracker.Web.FuelTrackerDataModel.edmx.msl
/FuelTracker.Web/obj/Debug/LiveIntellisense/Resources/FuelTracker.Web.FuelTrackerDataModel.edmx.ssdl
/FuelTracker.Web/obj/Debug/LiveIntellisense/Resources/FuelTracker.Web.Resources.RegistrationDataResources.resources
/FuelTracker.Web/obj/Debug/LiveIntellisense/Resources/FuelTracker.Web.Resources.ValidationErrorResources.resources
/FuelTracker.Web/obj/Debug/LiveIntellisense/Sources/FuelTracker.Web.cs
/FuelTracker.Web/obj/Debug/TempPE/FuelTrackerDataModel.Designer.cs.dll
/FuelTracker.Web/obj/Debug/TempPE/Resources.RegistrationDataResources.Designer.cs.dll
/FuelTracker.Web/obj/Debug/TempPE/Resources.ValidationErrorResources.Designer.cs.dll
/FuelTracker.Web/obj/Debug/edmxResourcesToEmbed/FuelTrackerDataModel.csdl
/FuelTracker.Web/obj/Debug/edmxResourcesToEmbed/FuelTrackerDataModel.msl
/FuelTracker.Web/obj/Debug/edmxResourcesToEmbed/FuelTrackerDataModel.ssdl
/FuelTracker/obj/Debug/App.g.cs
/FuelTracker/obj/Debug/App.g.i.cs
/FuelTracker/obj/Debug/Controls/CommonIcon.g.cs
/FuelTracker/obj/Debug/Controls/CommonIcon.g.i.cs
/FuelTracker/obj/Debug/Controls/EditIcon.g.cs
/FuelTracker/obj/Debug/Controls/EditIcon.g.i.cs
/FuelTracker/obj/Debug/Controls/ErrorIcon.g.cs
/FuelTracker/obj/Debug/Controls/ErrorIcon.g.i.cs
/FuelTracker/obj/Debug/Controls/MemoryDisplay.g.cs
/FuelTracker/obj/Debug/Controls/MemoryDisplay.g.i.cs
/FuelTracker/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FuelTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FuelTracker/obj/Debug/FuelTracker.Assets.Resources.ApplicationStrings.resources
/FuelTracker/obj/Debug/FuelTracker.Assets.Resources.ErrorResources.resources
/FuelTracker/obj/Debug/FuelTracker.Assets.Resources.SecurityQuestions.resources
/FuelTracker/obj/Debug/FuelTracker.RiaClientRefs.txt
/FuelTracker/obj/Debug/FuelTracker.RiaFiles.txt
/FuelTracker/obj/Debug/FuelTracker.RiaLinks.txt
/FuelTracker/obj/Debug/FuelTracker.RiaServerRefs.txt
/FuelTracker/obj/Debug/FuelTracker.RiaSourceFiles.txt
/FuelTracker/obj/Debug/FuelTracker.Web.Resources.RegistrationDataResources.resources
/FuelTracker/obj/Debug/FuelTracker.Web.Resources.ValidationErrorResources.resources
/FuelTracker/obj/Debug/FuelTracker.csproj.FileListAbsolute.txt
/FuelTracker/obj/Debug/FuelTracker.csproj.GenerateResource.Cache
/FuelTracker/obj/Debug/FuelTracker.csprojResolveAssemblyReference.cache
/FuelTracker/obj/Debug/FuelTracker.g.resources
/FuelTracker/obj/Debug/FuelTrackerWithRepository.RiaClientRefs.txt
/FuelTracker/obj/Debug/FuelTrackerWithRepository.RiaFiles.txt
/FuelTracker/obj/Debug/FuelTrackerWithRepository.RiaLinks.txt
/FuelTracker/obj/Debug/FuelTrackerWithRepository.RiaServerRefs.txt
/FuelTracker/obj/Debug/FuelTrackerWithRepository.RiaSourceFiles.txt
/FuelTracker/obj/Debug/LiveIntellisense/FuelTracker.RiaClientRefs.txt
/FuelTracker/obj/Debug/LiveIntellisense/FuelTracker.RiaFiles.txt
/FuelTracker/obj/Debug/LiveIntellisense/FuelTracker.RiaLinks.txt
/FuelTracker/obj/Debug/LiveIntellisense/FuelTracker.RiaServerRefs.txt
/FuelTracker/obj/Debug/LiveIntellisense/FuelTracker.RiaSourceFiles.txt
/FuelTracker/obj/Debug/LiveIntellisense/Resources/FuelTracker.Assets.Resources.ApplicationStrings.resources
/FuelTracker/obj/Debug/LiveIntellisense/Resources/FuelTracker.Assets.Resources.ErrorResources.resources
/FuelTracker/obj/Debug/LiveIntellisense/Resources/FuelTracker.Assets.Resources.SecurityQuestions.resources
/FuelTracker/obj/Debug/LiveIntellisense/Sources/FuelTracker.Web.g.cs
/FuelTracker/obj/Debug/LiveIntellisense/TempPE/FuelTracker.Web.dll
/FuelTracker/obj/Debug/LiveIntellisense/TempPE/FuelTracker.Web.pdb
/FuelTracker/obj/Debug/LiveIntellisense/TempPE/FuelTracker.g.dll
/FuelTracker/obj/Debug/MainPage.g.cs
/FuelTracker/obj/Debug/MainPage.g.i.cs
/FuelTracker/obj/Debug/TempPE/Assets.Resources.ApplicationStrings.Designer.cs.dll
/FuelTracker/obj/Debug/TempPE/Assets.Resources.ErrorResources.Designer.cs.dll
/FuelTracker/obj/Debug/TempPE/Assets.Resources.SecurityQuestions.Designer.cs.dll
/FuelTracker/obj/Debug/TempPE/Web.Resources.RegistrationDataResources.Designer.cs.dll
/FuelTracker/obj/Debug/TempPE/Web.Resources.ValidationErrorResources.Designer.cs.dll
/FuelTracker/obj/Debug/Views/About.g.cs
/FuelTracker/obj/Debug/Views/About.g.i.cs
/FuelTracker/obj/Debug/Views/CarEditView.g.cs
/FuelTracker/obj/Debug/Views/CarEditView.g.i.cs
/FuelTracker/obj/Debug/Views/CarsListView.g.cs
/FuelTracker/obj/Debug/Views/CarsListView.g.i.cs
/FuelTracker/obj/Debug/Views/CarsListViewControl.g.cs
/FuelTracker/obj/Debug/Views/CarsListViewControl.g.i.cs
/FuelTracker/obj/Debug/Views/ErrorWindow.g.cs
/FuelTracker/obj/Debug/Views/ErrorWindow.g.i.cs
/FuelTracker/obj/Debug/Views/Home.g.cs
/FuelTracker/obj/Debug/Views/Home.g.i.cs
/FuelTracker/obj/Debug/Views/Login/LoginForm.g.cs
/FuelTracker/obj/Debug/Views/Login/LoginForm.g.i.cs
/FuelTracker/obj/Debug/Views/Login/LoginRegistrationWindow.g.cs
/FuelTracker/obj/Debug/Views/Login/LoginRegistrationWindow.g.i.cs
/FuelTracker/obj/Debug/Views/Login/LoginStatus.g.cs
/FuelTracker/obj/Debug/Views/Login/LoginStatus.g.i.cs
/FuelTracker/obj/Debug/Views/Login/RegistrationForm.g.cs
/FuelTracker/obj/Debug/Views/Login/RegistrationForm.g.i.cs
/FuelTracker/obj/Debug/Views/MealMenuEditViewWindow.g.i.cs
/FuelTracker/obj/Debug/Views/UserProfileEditView.g.cs
/FuelTracker/obj/Debug/Views/UserProfileEditView.g.i.cs
/FuelTracker/obj/Debug/Views/UserProfilesListView.g.cs
/FuelTracker/obj/Debug/Views/UserProfilesListView.g.i.cs
/FuelTracker/obj/Debug/Views/UserProfilesListViewControl.g.cs
/FuelTracker/obj/Debug/Views/UserProfilesListViewControl.g.i.cs
